/* Starting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}
.container_logo{
    margin: auto;
    border: 2px solid red;
    height: 100px;
    background-color: white;
}

.container_lists{
  width: 900px;
  height: 700px;
  margin: auto;
  margin-top: 40px;
  background-color: white;
}

.logo_img{
    vertical-align: middle;
}

.logo_text{
    display: inline;
    vertical-align: middle;
    font-size: 50px;
}

.first_button{
background-color: rgb(71, 173, 241);
margin: 5px;
padding: 6px;
border-radius: 5px;
border: none;

}

.second_button{
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    border-width: thin;
    color:grey;
}

.title_list{
    margin-top: 40px;
}

.lists{
    list-style: none;
    margin-bottom: 20px;
}

.clicking_list{
    display: inline-block;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
    }

._lightblue{
    background-color: rgb(71, 173, 241);
}

._purple{
    background-color: purple;
}

._orange{
    background-color: orange;
}

._green{
    background-color: greenyellow;
}

._pink{
    background-color: pink;
}

._lime{
    background-color: lime;
}

.check_mark{
    border: 1px solid green;
    display: inline-block;
    border-radius: 50%;
    color: green;
}

.x_mark{
    border: 1px solid red;
    display: inline-block;
    border-radius: 50%;
    color: red;
}